extends layout

block content
  .form-container
    form(action=`/edit/${todo.todoId}` method="POST" autocomplete="off")
      input(type="text" name="name" value=`${todo.name}`)
      br
      textarea(name="detail", cols="30", rows="10") #{todo.detail}
      br
      button(type="submit") 保存